{% extends 'front_base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		body {
			background: #FCD5CE;
			background: -webkit-linear-gradient(to right, #FCD5CE, #FFCCD5);
			background: linear-gradient(to right, #FCD5CE, #FFCCD5);
			min-height: 100vh;
		}

    
	</style>
{% endblock %}


{% block main %}


	<div
		class="px-4 px-lg-0">
		<!-- For demo purpose -->
		<div class="container text-white py-5 text-center">
			<h1 class="display-4" style="margin-top:80px;color:#1D3557;font-family:Lucida">Votre Panier</h1>
			<h3 class="lead mb-0" style="color:#1D3557;font-family:Lucida">
				Veuillez proceder au paiement pour confirmer votre reservation</h3>
			<p class="lead">
				<u></u>
			</p>
		</a>
	</p>
</div>
<!-- End -->

<div class="pb-5">
	<div class="container">
		<div class="row">
			<div
				class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

				<!-- Shopping cart table -->
				<div class="table-responsive">

					<table class="table">
					{% if user != null %}
						{%  if items | length > 0   %}
							<thead>
								<tr>
									<th scope="col" class="border-0 bg-light">
										<div class="p-2 px-3 text-uppercase">Pack</div>
									</th>
									<th scope="col" class="border-0 bg-light">
										<div class="py-2 text-uppercase">Prix</div>
									</th>
									<th scope="col" class="border-0 bg-light">
										<div class="py-2 text-uppercase">Quantité</div>
									</th>
									<th scope="col" class="border-0 bg-light">
										<div class="py-2 text-uppercase">Total</div>
									</th>
									<th scope="col" class="border-0 bg-light"></th>
								</tr>
							</thead>
							<tbody>
								{% for item in items  %}
						
									<tr>

										<th scope="row" class="border-0">
											<div class="p-2">


												<img src="{{ asset ('uploads/' ~ item.pack.image) }}" alt="cannot get photo" width="70" class="img-fluid rounded shadow-sm">
												<div class="ml-3 d-inline-block align-middle">
													<h5 class="mb-0">
														<a href="#" class="text-dark d-inline-block align-middle"></a>
													</h5>
													<span class="text-muted font-weight-normal font-italic d-block">{{ item.pack.nom }}</span>
												</div>
											</div>
										</th>
										<td class="border-0 align-middle">
											<strong>${{item.pack.prix}}</strong>
										</td>
										<td class="border-0 align-middle">
											<strong>{{item.quantity}}</strong>
										</td>
										<td class="border-0 align-middle">
											<strong>${{ item.pack.prix * item.quantity }}</strong>
										</td>
										<td>
											<a href="{{ path('panier_remove', {'id': item.pack.id })}}" class="btn btn-danger btn-lg">
												<i class="bi bi-cart-x"></i>
											</a>

											<a href="{{ path('add_panier', {'id': item.pack.id })}}" class="btn btn-success btn-lg">
												+
											</a>

											<a href="{{ path('removefromquantity_panier', {'id': item.pack.id })}}" class="btn btn-warning btn-lg">
												-
											</a>
										</td>
									</tr>
									<form action="" method="post">
										<input type="hidden" id="idpack" name="idpack" value="{{item.pack.id}}"/>
										<input type="hidden" id="iduser" name="iduser" value="2"/>
										<input type="hidden" id="date" name="date" value="2023-09-15"/>
										<input type="hidden" id="prixrespack" name="prixrespack" value="{{item.pack.prix * item.quantity}}"/>


									</tbody>
								{% endfor %} 
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4" class="text-right">
										Total :
									</td>
									<td>
										${{ total }}</td>
									<td>
										<a href="{{ path('panier_removeAll')}}" class="btn btn-danger btn-lg">
											<i class="bi bi-cart-x"></i>
										</a>


									</td>

								</tr>

							</tfoot>


						{% else %}
						

							<h1>
								Votre panier est vide
							</h1>

						{% endif %}
					{% else %}
					<table class="table">
					<h1> Veuillez vous connecter </h1>
					</table>
					
{% endif %}
					</table>
				</div>
				<!-- End -->
			</div>
		</div>
		{%  if items | length > 0   %}

			<div class="row py-5 p-4 bg-white rounded shadow-sm">
				<div class="col-lg-6">
					<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
					<div class="p-4">
						<p class="font-italic mb-4">Si vous avez un coupon de recudction, veuillez l'introduire dans cette box</p>
						<div class="input-group mb-4 border rounded-pill p-2">
							<input type="text" placeholder="appliquer le coupon" aria-describedby="button-addon3" class="form-control border-0">
							<div class="input-group-append border-0">
								<button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill">
									<i class="fa fa-gift mr-2"></i>Appliquer le coupon</button>
							</div>
						</div>
					</div>
					<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions</div>
					<div class="p-4">
						<p class="font-italic mb-4">Si vous avez un commentaire, vous pouvez le laisser dans le box</p>
						<textarea name="" cols="30" rows="2" class="form-control"></textarea>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Résumé de la réservation
					</div>
					<div class="p-4">
						<p class="font-italic mb-4"></p>
						<ul class="list-unstyled mb-4">
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Avant total
								</strong>
								<strong>${{ total }}</strong>
							</li>
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">
									Coupon de réduction</strong>
								<strong>$10.00</strong>
							</li>
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Tax</strong>
								<strong>$0.00</strong>
							</li>
							<li class="d-flex justify-content-between py-3 border-bottom">
								<strong class="text-muted">Total</strong>
								<h5 class="font-weight-bold">
									{{ total }}</h5>
							</li>
						</ul>

					</form>
					<form action="/checkout" method="POST">
						<button type="submit" class="btn btn-dark px-4 rounded-pill btn-lg" style="width:50%;margin-left:25%" id="test">Proceder au Paiement</button>
					</form>

				</div>
			</div>
		</div>

	</div>
</div></div>{%  else %}<h1></h1>{%  endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
document.getElementById("test").addEventListener("click",function submitForm(){
  var idpack = $('input[name=idpack]').val();
   var iduser = $('input[name=iduser]').val();
    var date = $('input[name=date]').val();
     var prixrespack = $('input[name=prixrespack]').val();
   var formData = {idpack: idpack, iduser: iduser, date:date, prixrespack: prixrespack};
   $.ajax({
        url: "{{asset('submit.php')}}", type: 'POST', data: formData, success: function(response){


   }});
})




</script>



{% endblock %}
