{% extends 'back_base.html.twig' %}


{% block main %}
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-archive"></i>
				Espace Prestataire</h1>
			<p>Espace prestataire Dashboard</p>

		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<a href="/home"class="fa fa-home fa-lg"></a>
			</li>
			<li class="breadcrumb-item">
				<a href="">Espace </a>
			</li>
		</ul>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="table-responsive">
						<div class="d-flex">
							<div class="p-2">
								<h1>Espace prestataire
								</h1>
							</div>

							<div class="ml-auto p-2">
								<a class="btn btn-outline-danger " href="{{ path('espace_pdf') }}">DownLoad PDF</a>
								<a class="btn btn-outline-danger "  href="javascript:window.print()">Imprimer</a>
								<a class="btn btn-outline-danger " href="{{ path('app_espaceprestataire_new') }}">Create new</a>
							</div>
						</div>


						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									 <th>Idprest</th>
                <th>Nomsociete</th>
                <th>Numsociete</th>
                <th>Faxsociete</th>
                <th>Catsociete</th>
                <th>Typesociete</th>
                <th>Logo</th>
                <th>Url</th>
                


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody>
								{% for espaceprestatairee in espaceprestataire %}
									<tr>
										 <td>{{ espaceprestatairee.idprest }}</td>
                                        <td>{{ espaceprestatairee.nomsociete }}</td>
                                        <td>{{ espaceprestatairee.numsociete }}</td>
                                        <td>{{ espaceprestatairee.faxsociete }}</td>
                                        <td>{{ espaceprestatairee.catsociete }}</td>
                                        <td>{{ espaceprestatairee.typesociete }}</td>
										<td><img src="{{ asset('uploads/' ~ espaceprestatairee.logo) }}" alt="" width="100" height="100"></td>
                                        <td>{{ espaceprestatairee.url }}</td>


										<td style="text-align : center">
											<a class="btn btn-outline-success " href="{{ path('app_espaceprestataire_show', {'idprest': espaceprestatairee.idprest}) }}">show</a>
											<a class="btn btn-outline-warning " href="{{ path('app_espaceprestataire_edit', {'idprest': espaceprestatairee.idprest}) }}">edit</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
