{% extends 'front_base.html.twig' %}


{% block main %}

	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="table-responsive">
						<div class="d-flex">
							<div class="mr-auto p-2">
								<h1>Avis
								</h1>
							</div>
							
						</div>
						<table class="table">
							<tbody>
								<tr>
									<th>Rating</th>
									<td>{{ avi.rating}}</td>
								</tr>
								<tr>
									<th>Utilisateur</th>
									<td>{{ avi.idUser }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ avi.descriptionavis}}</td>
								</tr>


							</tbody>
						</table>

						<a class="btn btn-secondary" href="{{ path('app_avis_index') }}">back to list</a>
						
							<a class="btn btn-outline-warning " href="{{ path('app_avis_edit', {'idavis': avi.idavis}) }}">Modifier</a>
							{{ include('avis/_delete_form.html.twig') }}

							


					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
