{% extends 'back_base.html.twig' %}


{% block main %}
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-archive"></i>
				Planning</h1>
			<p>Planning Dashboard</p>

		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<a href="/home"class="fa fa-home fa-lg"></a>
			</li>
			<li class="breadcrumb-item">
				<a href="">Planning</a>
			</li>
		</ul>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="table-responsive">
						<div class="d-flex">
							<div class="p-2">
								<h1>Planning
								</h1>
							</div>

							<div class="ml-auto p-2">
								<a class="btn btn-outline-danger " href="{{ path('app_plannning_new') }}">Create new</a>
							
							

							
								<a class="btn btn-outline-info " href="{{ path('app_calendar') }}">show Calendar</a>
							
						</div> </div>


						<table class="table table-hover table-bordered" id="sampleTable">
							<thead>
								<tr>
									<th>Dateplan</th>
                                    <th>Etatplan</th>


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody>
								{% for planning in plannings %}
									<tr>
										<td>{{ planning.dateplan }}</td>
                                        <td>{{ planning.etatplan }}</td>

										<td style="text-align : center">
											<a class="btn btn-outline-success " href="{{ path('app_plannning_show', {'idplan': planning.idplan}) }}">show</a>
											<a class="btn btn-outline-warning " href="{{ path('app_plannning_edit', {'idplan': planning.idplan}) }}">edit</a>
											<a class="btn btn-outline-danger " href="{{ path('app_plannning_delete', {'idplan': planning.idplan}) }}">Delete</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>


					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

