{% extends 'back_base.html.twig' %}


{% block main %}
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-tasks"></i>
				Coupons</h1>
			<p>Coupons Dashboard</p>

		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<i class="fa fa-home fa-lg"></i>
			</li>
			<li class="breadcrumb-item">
				<a href="/coupon/coupons">Coupon</a>
			</li>
		</ul>

	</div>

	<div class="row" style="text-align :center">
		<div class="col-md-12">
			<div class="tile">
				<h1>Edit Coupon</h1>

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
<div class="row">
 
	<div class="col-lg-4   offset-lg-1  align:center">
	        <td>
        <div style="padding : 7px">
			{{ form_label(form.code,"Code : ") }}
			{{ form_widget(form.code) }}
		</div>
		</td>
        <td>
        <div style="padding : 7px">
			{{ form_label(form.pourcentageReduction," Pourcentage Réduction: ") }}
			{{ form_widget(form.pourcentageReduction) }}
        </div>
		
        </td>




	</div>
</div>
<a class="btn btn-secondary" href="{{ path('list_coupon') }}">back to list</a>
<button class="btn btn-success">{{ button_label|default('update') }}</button>
{{ form_end(form) }}


			</div>
		</div>
	</div>


{% endblock %}