




{% extends 'back_base.html.twig' %}


{% block main %}



{% if formsearch is defined %}
                <div align="Right">
                    {{ form_start(formsearch,{'attr': {'novalidate': 'novalidate'}} ) }}
                    {{ form_widget(formsearch.prixrespack,{'class':'form-control'},)}}
                    {{ form_widget(formsearch.Rechercher, {'attr': {'placeholder': 'REGISTER','class':'btn btn-primary' }})}}
                    {{ form_end(formsearch) }}
                </div>
                {% endif %}

	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-archive"></i>
				Reservation des Packs</h1>
			<p>Reservation Pack Dashboard</p>

		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<i class="fa fa-home fa-lg"></i>
			</li> 
			<li class="breadcrumb-item">
				<a href="">Packs</a>
			</li>
		</ul>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="table-responsive">
						<div class="d-flex">
							<div class="p-2">
								<h1>Reservation des Packs
								</h1>
							</div>

							<div class="ml-auto p-2">
								<a class="btn btn-outline-success btn-lg " href="{{ path('app_reservationpack_new') }}">Ajouter</a>
							</div>
						</div>

{% if user.role == 'ADMIN' %}
						<table class="table table-hover table-bordered" id="t">
							<thead>
								<tr>
								 <th>Date</th>
          
                <th>Prix</th>
                <th>Service</th>
                <th>Image</th>
            

                <th>Etat</th>


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody id="all">
						 {% for reservationpack in reservationpacks %}
									<tr>
                   <td>{{ reservationpack.date  }}</td>
              
                <td>{{ reservationpack.prixrespack}}</td>
                 <td>{{ reservationpack.idpack.nom }}</td>
										<td><img src="{{ asset('uploads/' ~ reservationpack.idpack.image) }}" alt="" width="100" height="100"></td>
									

									 <td style="margin-left:50%">
                         {% if (reservationpack.etat == 'Yes')  %}
                        <button type="button" class="btn btn-block btn-outline-success disabled">Payer</button>
                        {%  else  %}
                       <button type="button" class="btn btn-block btn-outline-danger disabled">Non Payer</button>
                     {% endif %} 
                  </td>

										<td style="text-align : center">
									  <a href="{{ path('app_reservationpack_show', {'id': reservationpack.id}) }}" class="btn btn-outline-info">Details</a>
											<a href="{{ path('app_reservationpack_edit', {'id': reservationpack.id}) }}" class="btn btn-outline-warning">Modifier</a>
									 {{ include('reservationpack/_delete_form.html.twig') }}
                  	</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
                        {% endif %}
     
            {% if user.role == 'Prestataire' %}
     
						<table class="table table-hover table-bordered" id="t">
							<thead>
								<tr>
								 <th>Date</th>
          
                <th>Prix</th>
                <th>Service</th>
                <th>Image</th>
            

                <th>Etat</th>


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody id="all">
						 {% for pack in packs %}
									<tr>
                   <td>{{ pack.date  }}</td>
              
                <td>{{ pack.prixrespack}}</td>
                 <td>{{ pack.idpack.nom }}</td>
										<td><img src="{{ asset('uploads/' ~ pack.idpack.image) }}" alt="" width="100" height="100"></td>
									

									 <td style="margin-left:50%">
                         {% if (pack.etat == 'Yes')  %}
                        <button type="button" class="btn btn-block btn-outline-success disabled">Payer</button>
                        {%  else  %}
                       <button type="button" class="btn btn-block btn-outline-danger disabled">Non Payer</button>
                     {% endif %} 
                  </td>

										<td style="text-align : center">
									  <a href="{{ path('app_reservationpack_show', {'id': pack.id}) }}" class="btn btn-outline-info">Details</a>
											<a href="{{ path('app_reservationpack_edit', {'id': pack.id}) }}" class="btn btn-outline-warning">Modifier</a>
									 {{ include('reservationpack/_delete_form.html.twig') }}
                  	</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
                        {% endif %}


					</div>
				</div>
			</div>
		</div>
	</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchPrice') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            window.alert("aucune entrée dans le tableau");

                            $.each(JSON.parse(retour), function(o, obj) {

                                $('#t tbody#all').hide();


                                $('#t tbody#search').append("<tr>");
                               $('#t tbody#search').append(" <td>"+obj.date+"</td>"); 
                               $('#t tbody#search').append(" <td>"+obj.prixrespack+"</td>"); 
                               //  var p="/uploads/"+obj.imagejeux;
                               // var img = "<img src="+p+" width='100' height='100'/>";
                              //  $('#t tbody#search').append(" <td>"+img+"</td>");
                                $('#t tbody#search').append(" <td><button class='btn btn-outline-primary' type='submit' href="+obj.id+">show</button> <button class='btn btn-outline-primary' type='submit'  href="+obj.id+">edit </button></td>");

                             //   $('#t tbody#search').append("<td> <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.idjeux+"'; role='button'> Show </button>");
                                //$('#t tbody#search').append(" <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.idjeux+"'; role='button'> Edit </button></td>");



                                $('#t tbody#search').append("</tr>");
                                // <td>'+obj.description+'</td><td>'+obj.dateajout+'  </td><td></td><td><a href="article/'+obj.id+'">show</a> </br><a href="article/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        //$('#t tbody#search').append('<tr><td> '+obj.lieu+'  </td><td>    '+obj.nbPlace+'  </td><td>'+obj.descriptions+' </td><td>'+obj.dateEvent+' </td><td>'+obj.getcategory+' </td><td>'+obj.Description+'</td><td><td><a href="event/'+obj.idEvent+'/edit">Modifier</a></td></tr>');
                        else
                        {

                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });





        });
    </script>


  

{% endblock %}








