
{% extends 'admin.html.twig' %}
{% block chat %} {% endblock %}

{% block title %}Hello BobotController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Hazem/Desktop/dev-hazem/src/Controller/BobotController.php'|file_link(0) }}">src/Controller/BobotController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Hazem/Desktop/dev-hazem/templates/bobot/index.html.twig'|file_link(0) }}">templates/bobot/index.html.twig</a></code></li>
    </ul>
</div>
<script>
            var botmanWidget = {
            frameEndpoint: '{{ path("chatframe") }}',
            chatServer: '{{ path("message") }}',
            introMessage: 'Hello, I am a Chatbot',
            title: 'My Chatbot', 
            mainColor: '#456765',
            bubbleBackground: '#ff76f4',
            aboutText: ''
        };
</script>
<script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>
{% endblock %}
