




{% extends 'back_base.html.twig' %}


{% block main %}

{% block search %}
        <form>
            <div class="input-group input-group-dynamic mb-8">
                <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>

                <input class="form-control" id="search" placeholder="Search" type="text" >

            </div>
        </form>
	
    {% endblock %}
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-archive"></i>
				Reservation des Services</h1>
			<p>Reservation Services Dashboard</p> 

		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<i class="fa fa-home fa-lg"></i>
			</li>
			<li class="breadcrumb-item">
				<a href="">Services</a>
			</li>
		</ul>

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="table-responsive">
						<div class="d-flex">
							<div class="p-2">
								<h1>Reservation des services
								</h1>
							</div>
			<div class="ml-auto p-2">
								<a class="btn btn-outline-success btn-lg " href="{{ path('app_reservationservice_new') }}">Ajouter</a>
							</div>
				 		</div>

{% if user.role == 'Admin' %}
						<table class="table table-hover table-bordered" id="t" >
							<thead>
								<tr>
								 <th>Date</th>
          
                <th>Prix</th>
                <th>Service</th>
                <th>Image</th>
            

                <th>Etat</th>


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody id="all">
							 {% for reservationservice in reservationservices %}
									<tr>
                   <td>{{ reservationservice.date | date }}</td>
              
                <td>{{ reservationservice.prixresserv }}</td>
                 <td>{{ reservationservice.idservice.nom }}</td>
										<td><img src="{{ asset('uploads/' ~ reservationservice.idservice.image) }}" alt="" width="100" height="100"></td>
									

									 <td style="margin-left:50%">
                         {% if (reservationservice.etat == 'Yes')  %}
                        <button type="button" class="btn btn-block btn-outline-success disabled">Payer</button>
                        {%  else  %}
                       <button type="button" class="btn btn-block btn-outline-danger disabled">Non Payer</button>
                     {% endif %} 
                  </td>

										<td style="text-align : center">
											<a class="btn btn-outline-info " href="{{ path('app_reservationservice_show', {'id': reservationservice.id}) }}">Details</a>
											<a class="btn btn-outline-warning " href="{{ path('app_reservationservice_edit', {'id': reservationservice.id}) }}">Modifier</a>
									    {{ include('reservationservice/_delete_form.html.twig') }}
                  	</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
							<tbody id="search"></tbody>
						</table>
{% endif %}
{% if user.role == 'Prestataire' %}
		<table class="table table-hover table-bordered" id="t" >
							<thead>
								<tr>
								 <th>Date</th>
          
                <th>Prix</th>
                <th>Service</th>
                <th>Image</th>
            

                <th>Etat</th>


									<th style="text-align : center">actions</th>
								</tr>
							</thead>
							<tbody id="all">
							 {% for reservationservice in services %}
									<tr>
                   <td>{{ reservationservice.date | date }}</td>
              
                <td>{{ reservationservice.prixresserv }}</td>
                 <td>{{ reservationservice.idservice.nom }}</td>
										<td><img src="{{ asset('uploads/' ~ reservationservice.idservice.image) }}" alt="" width="100" height="100"></td>
									

									 <td style="margin-left:50%">
                         {% if (reservationservice.etat == 'Yes')  %}
                        <button type="button" class="btn btn-block btn-outline-success disabled">Payer</button>
                        {%  else  %}
                       <button type="button" class="btn btn-block btn-outline-danger disabled">Non Payer</button>
                     {% endif %} 
                  </td>

										<td style="text-align : center">
											<a class="btn btn-outline-info " href="{{ path('app_reservationservice_show', {'id': reservationservice.id}) }}">Details</a>
											<a class="btn btn-outline-warning " href="{{ path('app_reservationservice_edit', {'id': reservationservice.id}) }}">Modifier</a>
									    {{ include('reservationservice/_delete_form.html.twig') }}
                  	</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="7">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
							<tbody id="search"></tbody>
						</table>
{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path ('search') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                           // window.alert("sometext");

                            $.each(JSON.parse(retour), function(o, obj) {

                                $('#t tbody#all').hide();


                                $('#t tbody#search').append("<tr>");
								$('#t tbody#search').append(" <td>"+obj.date+"</td>"); 
                               $('#t tbody#search').append(" <td>"+obj.prixresserv+"</td>"); 
                               var p="/uploads/"+obj.idservice.image;
                               var img = "<img src="+p+" width='100' height='100'/>";
                               $('#t tbody#search').append(" <td>"+img+"</td>");
							   
                               $('#t tbody#search').append(" <td>"+obj.idservice.nom+"</td>"); 
                                $('#t tbody#search').append(" <td>"+obj.etat+"</td>"); 
                                $('#t tbody#search').append(" <td><button class='btn btn-outline-primary' type='submit' href="+obj.id+">show</button> <button class='btn btn-outline-primary' type='submit'  href="+obj.id+">edit </button></td>");

                             //   $('#t tbody#search').append("<td> <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.id_post+"'; role='button'> Show </button>");
                                //$('#t tbody#search').append(" <button class='btn btn-outline-primary' type='submit' onclick='window.location.href =" +obj.id_post+"'; role='button'> Edit </button></td>");



                                $('#t tbody#search').append("</tr>");
                                // <td>'+obj.description+'</td><td>'+obj.dateajout+'  </td><td></td><td><a href="article/'+obj.id+'">show</a> </br><a href="article/'+obj.id+'/edit">edit</a></td></tr>');
                            });
                        }
                        //$('#t tbody#search').append('<tr><td> '+obj.lieu+'  </td><td>    '+obj.nbPlace+'  </td><td>'+obj.descriptions+' </td><td>'+obj.dateEvent+' </td><td>'+obj.getcategory+' </td><td>'+obj.Description+'</td><td><td><a href="event/'+obj.idEvent+'/edit">Modifier</a></td></tr>');
                        else
                        {

                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });





        });
    </script>

{% endblock %}








